@using Project.Models
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SugasClothes</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSendata").click(function () {
                var firtname = $("#firtname").val();
                var LastName = $("#lastname").val();
                var email = $("#email").val();
                var Subject = $("#subject").val();
                var Message = $("#message").val();
                alert(firtname);
                var Contact = {};
                Contact.firtName = firtname;
                Contact.LastName = LastName;
                Contact.email = email;
                Contact.Subject = Subject;
                Contact.Message = Message;

            $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf=8',
            url: '@Url.Action("AddContact", "Home")',
            data: JSON.stringify(Contact),
            success: function (data) {
                alert(data);
            }
            ,
            error: function () {
                alert("error");
            }
        });
            });

        });
    </script>

    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
    @{ var u = Session["use"] as Project.Models.User; }
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Search model -->

    <div class="search-model" style="color: white; background-image: url('../../Content/img/slider-1.jpg');">




        @using (Html.BeginForm("Index", "Product"))
        {
            <b>
                Search by:
            </b>
            @Html.RadioButton("searchBy", "NameProduct") <text>Name Product</text>

            @Html.RadioButton("searchBy", "None", true)<text>None</text>
            @Html.TextBox("search")<input type="submit" value="Go" class="search-trigger" />
        }




    </div>

    <div class="search-model" style="color: white; background-image: url('../../Content/img/slider-1.jpg');">




        @using (Html.BeginForm("Index", "Product"))
        {
            <b>
                Search by:
            </b>
            @Html.RadioButton("searchBy", "NameProduct") <text>Name Product</text>

            @Html.RadioButton("searchBy", "None", true)<text>None</text>
            @Html.TextBox("search")<input type="submit" value="Go" class="search-trigger" />
        }






    </div>
    <!-- Search model end -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="/Home/Index">
                        <img src="~/Content/img/logo.png" width="180" height="60">
                    </a>
                </div>
                <div class="header-right">
                    <img src="~/Content/img/icons/search.png" alt="" class="search-trigger">
                    <img src="~/Content/img/icons/man.png" alt="">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <a href="#">
                            <img src="~/Content/img/icons/bag.png" alt="">
                            @{ var cart = (Dictionary<Product, int>)Session["Cart"];
                                int num = 0;
                                if (cart != null)
                                {
                                    num = cart.Count;
                                }

                                <span>@num</span>
                            }


                        </a>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Image</th>
                                                <th scope="col">Information</th>
                                                <th scope="col">Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ if (cart != null)
                                                {
                                                    for (int index = 0; index < cart.Count; index++)
                                                    {
                                                        var item = cart.ElementAt(index);
                                                        var itemKey = item.Key;
                                                        var itemValue = item.Value;
                                                        <tr>
                                                            <td scope="row">
                                                                <a href="@Url.Action("Details", new {@productID=itemKey .ProductID })">
                                                                    <img src="@Url.Content("~/ProductImage/" + item.Key.Image)" width="300" height="250" />
                                                                </a>
                                                            </td>
                                                            <td scope="row">
                                                                <center>
                                                                    <h4>@itemKey.ProductName</h4>
                                                                    <h4 style="color:red">Price @itemKey.ProductPrice</h4>
                                                                    <br />
                                                                    @Html.ActionLink("Remove From Cart", "removeFromCart", "Product", new { productID = itemKey.ProductID }, null)
                                                                </center>
                                                            </td>

                                                            <td scope="row">
                                                                <center>
                                                                    @itemValue
                                                                </center>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-primary"> @Html.ActionLink("Check Out", "checkOut", "Product", null, null)</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @{ if (u != null)
                    {
                        <div class="user-access">
                            Welcome Back : <a style="color:blueviolet" href="User/Information/@u.UserID">@u.UserName</a>
                            <a style="color: lightskyblue" href="/User/Logout"> Logout</a>

                        </div> }
                    else
                    {
                        <div class="user-access">
                            <a href="/User/Register">Register</a>

                            <a href="/User/Login" class="in">Sign in</a>
                        </div> } }


                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/Home/Index">Home</a></li>
                        <li>
                            <a href="./categories.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="product-page.html">@Html.ActionLink("Product Page", "Index", "Product")</a></li>
                               
                                <li><a href="check-out.html">@Html.ActionLink("Orders Page", "Orders", "User")</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="category-title">Category</a><ul class="sub-menu">
                                <li class="category-list">
                                    @Html.Action("GetCategory", "Category")
                                </li>

                            </ul>

                        </li>
                       
                        <li><a href="/Home/Contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="~/Content/~/Content/img/icons/delivery.png" alt="">
                        <p>Free shipping on orders over 30K in VietNam</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="~/Content/img/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                        <img src="~/Content/img/icons/sales.png" alt="">
                        <p>30% off on dresses. Use code: 30OFF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->
    <!-- Hero Slider Begin -->
    @*<section class="hero-slider">
            <div class="hero-items owl-carousel">
                <div class="single-slider-item set-bg" data-setbg="~/Content/img/slider-1.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>2019</h1>
                                <h2>Lookbook.</h2>
                                <a href="#" class="primary-btn">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider-item set-bg" data-setbg="~/Content/img/slider-2.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>2019</h1>
                                <h2>Lookbook.</h2>
                                <a href="#" class="primary-btn">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider-item set-bg" data-setbg="~/Content/img/slider-3.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>2019</h1>
                                <h2>Lookbook.</h2>
                                <a href="#" class="primary-btn">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- Hero Slider End -->
    @RenderBody()
    <!-- Logo Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                    <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
                </div>
            </div>

            <div class="container text-center pt-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">SugasTeam</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>


        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

</html>