@model IEnumerable<Project.Models.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Contact Manager</h2>
<table class="table table-bordered">
    <tr>

 
        <th>
            Last Name
        <th>
            Email
        </th>
        <th>
            Subject
        </th>

        <th>
            Message
        </th>
        <th>
            Status
        </th>
        <th>
            CreateDate
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.LastName
    </td>
    <td>
        @item.email
    </td>
    <td>
        @item.Subject
    </td>
    <td>
        @item.Message
    </td>
    @{ if (item.Status == 0) {
        <td>
            @Html.ActionLink("Chưa Xem", "Status", new { status = item.Status, id = item.ID })
        </td>
        }
                else
                {
<td>
    @Html.ActionLink("Đã Xem", "Status",new { status = item.Status , id= item.ID})
</td>
                }
    }
    
    <td>
        @item.CreateDate
    </td>
</tr>
            }






    </table>