@*//Install-Package PagedList.Mvc -Version 4.5.0! Tải về thư viện phân trang*@
@model PagedList.IPagedList<Project.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Product Manager</h2>


    <button class="btn-default">@Html.ActionLink("Create", "Create")</button>
    <a href="@Url.Action("ExportToExcel", "Product")"> Export Excel</a>

<div style="text-align:center">
    @using (Html.BeginForm("Index", "Product"))
    {
        <b>
            Search by:
        </b>
        @Html.RadioButton("searchBy", "NameProduct") <text>Name Product</text>

        @Html.RadioButton("searchBy", "None", true)<text>None</text>
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</div>
<table class="table table-bordered">
    <tr>

        <th>
            Product Name
        </th>
        <th>
            Price
        </th>
        <th>
            In Stock
        </th>
        <th>
            Desciption
        </th>

        <th>
            Published
        </th>
        <th>
            Image
        </th>
        <th>
            Category
        </th>
        <th>
            Tag
        </th>
        <th>
            Status
        </th>
        <th>
            Action
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.ProductName
            </td>
            <td>
                @item.ProductPrice.ToString()
            </td>
            <td>
                @item.Stock.ToString()
            </td>
            <td>
                @item.ProductDescription
            </td>
            <td>
                @item.ProductDate.ToShortDateString()
            </td>
            <td>


                <img src="~/ProductImage/@item.Image" width="50" height="50" />


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags.TagName)
            </td>
            <td>
                @if (item.IsNewProduct == true)
                {<p style="color:coral">New Arrival</p>}

            <td>

                <form action="/Admin/Product/Delete/@item.ProductID" method="post">
                    @Html.AntiForgeryToken()
                    <a href="/Admin/Product/Edit/@item.ProductID">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="/Admin/Product/Details/@item.ProductID">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <button class="bg-transparent border-0" type="submit" onclick="return confirm('Are you sure to delete this post?');">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
    }

</table>
<!-- Thêm mã phân trang -->
<br />

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))

    <!-- End -->
