@model IEnumerable<Project.Models.Categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Category Controller</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="@Url.Action("ExportToExcel", "Categories")"> Export Excel</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        <form action="/Admin/Categories/Delete/@item.CategoryID" method="post">
            @Html.AntiForgeryToken()
            <a href="/Admin/Categories/Edit/@item.CategoryID">
                <i class="fas fa-edit"></i>
            </a>
            <a href="/Admin/Categories/Details/@item.CategoryID">
                <i class="fas fa-info-circle"></i>
            </a>
            <button class="bg-transparent border-0" type="submit" onclick="return confirm('Are you sure to delete this post?');">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
    </td>
</tr>
}

</table>
